body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.botonera-lista {
    border: 0px solid;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    .botonera-lista {
        flex-wrap: wrap;
    }

    .botonera-lista--forma {
        text-align: center;
        width: 50%;
    }
}

@media screen and (max-width: 599px) {
    .botonera-lista {
        flex-direction: column;
        align-items: center;
    }

    .botonera-lista--forma {
        margin: 0px 0px 0;
    }
    .mainForm__total2 {
        width: auto;
    }
}

.mainForm__total2 {
    width: auto;
    background: #00BEFF;
    border: 1px solid #00BEFF;
    border-radius: 5px;
    color: #fff;
    margin: 30px auto;
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    transition: .3s;
    display: inline;
    text-align: center;
    position: center;
}

    .mainForm__total2:hover {
        background: #fff;
        color: #00BEFF
    }

    /*LOADER*/
/**************** LOADER ****************/
.loadercontainerlimit {
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin: 0 auto;
}

.loader {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(74,74,74, 0.2);
    border-right: 1.1em solid rgba(74,74,74, 0.2);
    border-bottom: 1.1em solid rgba(74,74,74, 0.2);
    border-left: 1.1em solid #4a4a4a;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }

.loadergray,
.loadergray:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.mainForm-wrapCheck input, .mainForm-wrapCheck textarea {
    color: #000;
}

input.mainForm__input.input-validation-error {
    margin-bottom: 5px;
}

.promo_code {
    margin-top: 20px;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

