

@using System.Web.Optimization
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@{
    ViewBag.Title = "About";
    @Html.Partial("_SendiBlueScript")

}



<h2>About</h2>





