



    <section class="botonera-lista">
        <div class="botonera-lista--forma">
            <input type="button" class="mainForm__total2" id="startWebCheckout2" tabindex="7" onclick="javascript: return webCheckout();" value="Pagar con PayPal" />
        </div>
        <div class="botonera-lista--forma">
            <input type="button" class="mainForm__total2" id="startWebCheckout" tabindex="8" onclick="javascript: return webCheckout();" value="Pagar con EpayCo" />
        </div>
        <div class="botonera-lista--forma">
            <input type="button" class="mainForm__total2" id="startWebCheckout3" tabindex="9" onclick="javascript: return webCheckout();" value="Pagar con PSE" />
        </div>
    </section>

<script>
    function webCheckout() {
        console.log('Hola Mundo');
    }
</script>
