@using System.Web.Optimization
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@{
    ViewBag.Title = "Contact";
    @Html.Partial("_SendiBlueScript")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Garantiza una representación óptima en dispositivos móviles -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Compatibilidad óptima con Internet Explorer  -->
}



<h2>Test Paypal</h2>


<body>
    <div align="center" style="width:10vw;margin-top:10%; border-radius: 60%;">
        <div id="paypal-button-container"></div>
    </div>
</body>